.generalForm {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  .closeAddFormButton{
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
  }

  .field {
    position: relative;
    display: flex;
    justify-content: space-between;

    .fieldName {
      display: flex;
      align-items: center;
      user-select: none;
      font-size: 25px;
    }

    .inputField {
      width: 250px;
      font-size: 25px;
    }

    .incorrectValuesMessage {
      position: absolute;
      line-height: 100%;
      color: red;
      top: 70px;
      user-select: none;
    }

    .errorMessage {
      position: absolute;
      color: red;
      bottom: -20px;
      right: 0;
      line-height: 100%;
      user-select: none;
    }
  }

  .button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
