.generalForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: white;
  border-radius: 10px;
  border-bottom: 1px solid lightgray;

  .closeAddFormButton {
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
  }

  .field {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 55%;
    width: 100%;

    .inputFieldName {
      font-size: 25px;
      width:190px;

    }

    .inputFieldTel {
      font-size: 25px;
      min-width: 208px;
      margin-left: -5px;
      margin-right: 20%;
      text-align: center;
    }

    .incorrectValuesMessage {
      position: absolute;
      line-height: 100%;
      color: red;
      bottom: -15px;
      right: 20%;
      user-select: none;
    }

    .errorMessageNameField {
      position: absolute;
      color: red;
      bottom: -15px;
      right: 45%;
      line-height: 100%;
      user-select: none;
    }
    .errorMessageTelField {
      position: absolute;
      color: red;
      bottom: -15px;
      right: 20%;
      line-height: 100%;
      user-select: none;
    }

  }

  .button {
    display: flex;

    Button {
      margin-left: 25px;
    }
  }
}
